.chart-diplay{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3em;
}

.button {
    background-color: #62d4b9;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }